<table class="table table-bordered w-50 overflow-y-scroll">
  <!-- <tr>
    <td class="fw-semibold">Foto</td>
    <td class="ps-2">{{driver1.givenFullName}}</td>
  </tr> -->
    <tr>
      <td class="fw-semibold">Full Name</td>
      <td class="ps-2">{{driver1.givenFullName}}</td>
    </tr>
    <tr>
      <td class="fw-semibold">Date of Birth</td>
      <td class="ps-2">{{driver1.dateofBirth}}</td>
    </tr>
    <tr>
      <td class="fw-semibold">Nationality</td>
      <td class="ps-2">{{driver1.nationality}}</td>
    </tr>
    <tr>
      <td class="fw-semibold">Place of Birth</td>
      <td class="ps-2">{{driver1.placeofBirth}}</td>
    </tr>
    <tr>
      <td class="fw-semibold">Points</td>
      <td class="ps-2">{{driver1.points}}</td>
    </tr>
    <tr>
      <td class="fw-semibold">GrandPrix Entered</td>
      <td class="ps-2">{{driver1.grandPrixEntered}}</td>
    </tr>
    <!-- <br><hr>
    <tr>
        <td class="fw-semibold">Full Name</td>
        <td class="ps-2">{{driver2.givenFullName}}</td>
      </tr>
      <tr>
        <td class="fw-semibold">Date of Birth</td>
        <td class="ps-2">{{driver2.dateofBirth}}</td>
      </tr>
      <tr>
        <td class="fw-semibold">Nationality</td>
        <td class="ps-2">{{driver2.nationality}}</td>
      </tr>
      <tr>
        <td class="fw-semibold">Place of Birth</td>
        <td class="ps-2">{{driver2.placeofBirth}}</td>
      </tr>
      <tr>
        <td class="fw-semibold">Points</td>
        <td class="ps-2">{{driver2.points}}</td>
      </tr>
      <tr>
        <td class="fw-semibold">GrandPrix Entered</td>
        <td class="ps-2">{{driver2.grandPrixEntered}}</td>
      </tr> -->
  </table>
